body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#banner {
  background-color: #333;
  height: 50px;
  /* Styles supplémentaires pour la bannière */
}

#content {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 36px;
  /* Styles supplémentaires pour le titre */
}

#start-button,
#settings-button-home,
#settings-button-game,
#close-button {
  width: 100px;
  height: 100px;
  cursor: pointer;
  /* Styles supplémentaires pour les boutons */
}

#game-content {
  display: none;
  /* Styles supplémentaires pour le contenu du jeu */
}

#sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #f1f1f1;
  transition: right 0.3s ease;
  /* Styles supplémentaires pour la sidebar */
}

h1 {
  text-align: center;
}

#cards {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  width: 80px;
  height: 120px;
  background-color: #ccc;
  border: 1px solid #000;
  margin: 0 10px;
}

#guess {
  text-align: center;
  margin-top: 20px;
}

#result {
  text-align: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

#boss {
  text-align: center;
}

#boss-img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

#boss-hp {
  background-color: red;
  height: 20px;
  width: 100%;
  margin-bottom: 20px;
}

/* #propositions { */
  /* text-align: center; */
  /* margin-top: 20px; */
/* } */

.bullet {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  transition: transform 0.5s;
}

#player-hp {
  background-color: green;
  height: 20px;
  width: 100%;
  margin-bottom: 20px;
}

#player-img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}